body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-color:rgb(23, 100, 46);
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}
#container{
    display: flex;          
    justify-content: center; 
    align-items: center;    
    margin: 0;  
}
h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
#busted-txt{
    color:red;
}
#win-txt{
    color:goldenrod;
    font-size: 8vh;
}
#stand-button{
    display: none;
}
#continue-button{
    display:none;
    background:red;
    border: 2px solid black;
}
#start-button{
    display: inline-block;
}
#hit-button{
    display:none;
}
button {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: #000000;
    width: 150px;
    background: goldenrod;
    height: 15vh;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-top: 2px;
    
}